<!DOCTYPE HTML>
<html>
<body>
 {% if home %}

 {% for post in post %}
    
 <a href="{{ post.url}}"><h1>{{ post.title }} </h1> </a>
<p>{{post.body}}</p>
<p>{{ post.tags }}</p>
<p>{{ post.postdate}}</p>

{% endfor %}

{% elseif notfound %}
not found

 {% else %}
    
<h1>{{ post.title}}</h1>
<p>{{ post.body }} </p>
<p>{{ post.tags }}</p>
<p>{{ post.postdate}}</p>
 <a href="/posts.php?edit={{ post.url}}">Edit</a>
 
 {% endif %}
</body>
</html>